body {
  padding-top: 30px;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  -webkit-box-align-items: center;
  -moz-box-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;

/*  background-image: url("../bg2.jpg");*/

    /* Center and scale the image nicely */
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;*/
}

#column {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-box-flex-direction: column;
  -moz-box-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  -webkit-box-align-items: center;
  -moz-box-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

a:hover {
  color: #FFFFFF; 
  background: #a77dc2;
  text-decoration: none;
}

a:visited {
}

.content {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 

  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  -webkit-box-flex-align-items: center;
  -moz-box-flex-align-items: center;
  -webkit-flex-align-items: center;
  -ms-flex-align-items: center;
  align-items: center;
  max-width: 500px;
  padding-bottom: 10px;

}

#contain{
  width: 350px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
  color: #000000;
  font-weight: 100;
  margin: 0px;
  text-align: center;
  max-width: 380px;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #a77dc2;
  font-weight: 100;
/*  margin: 0px;
  padding: 5px 10px;*/
  margin-top: 4px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 350px;
  max-width: 350px;
  text-align: center;
}

#text {
  max-width: 350px;
  font-size: 15px;
  text-align: left;
  font-family: Abel;
  color: black;
  letter-spacing: 0.4px;
  padding: 0px;
}

#contact{
  font-family: Abel;
  font-size: 15px;
  color: black;
  letter-spacing: 0.4px;
  width: 350px;
  text-align: left;
  padding: 0px;
  max-width: 350px;
}

#title {
  font-size: 35px;
  font-family: Quicksand;
  text-align: center;
  color: black;
}

#pic {
  width: 100px;
  border-radius: 50%;
  height: auto;
  opacity: 1;
}

.icon {
  opacity: 0.75;
  color: black;
  padding: 5px;
  max-width: 330px;
  display: inline-block;
}

#icons {
  -webkit-box-justify-content: space-around;
  -moz-box-justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: inline-block;
}

.year {
  color: #909090;
}


@media only screen and (min-device-width: 320px)  and (max-device-width: 480px) {
  #photo {
    display: none;
  }

  #contain{
    width: 300px;
  }

h2 {
/*  margin: 0px;
  padding: 5px 10px;*/
/*  padding-top: 5px;
  padding-bottom: 5px;*/
  margin-top: 0px;
  margin-bottom: -4px;
  width: 300px;
  max-width: 300px;
  text-align: center;
}


#text {
  max-width: 290px;
  font-size: 15px;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}

  #contact{
  /*  max-width: 300px;*/
    overflow: scroll;
  }

  .icon{
/*    overflow: auto;*/
    text-align: right;
    display: inline-block;
  }

  body{
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    /*background-position: 57% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
  }
}

@media only screen and (min-device-width: 481px)  and (max-device-width: 650px) {
  #photo {
    display: none;
  }
  h2{
    max-width: 285px;
  }

  #text {
    max-width: 330px;
  }

  #contact{
    max-width: 330px;
  }
}